*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif; 
}

body{
    background: #242248;
}

.container{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 30px;
    border-radius: 10px;
    color: #3e3e3e;

}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.top-bar div{
    display: flex;
    align-items: center;
}

.arrow-img{
    width: 25px;
}

.heart-img{
    width: 20px;
}

.dot-img{
    width: 5px;
    margin-left: 15px;
}

.container h1{
    text-align: center;
    font-weight: 600;
    font-size: 22px;
}

.review{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.review img{
    width: 15px;
    margin-right: 10px;
}

.product-img{
    width: 100%;
    margin: 20px 0 10px ;
    border-radius: 12px;
}

.container h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.select-size span{
    display: inline-block;
    width: 40px;
    height: 40px;text-align: center;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #777;
    border-radius: 5px;
    margin: 10px 2px;
}

.select-size span:hover{
    cursor: pointer;
    background: #ff6c78;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ff6c78;
}

.select-color span{
    display: inline-block;
    margin: 10px 3px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.color1{
    background: #fcb1a0;
}

.color2{
    background: #afc7ff;
}

.color3{
    background: #e4b0fc;
}

.color4{
    background: #ff9fb5;
}

.color5{
    background: #90cad5;
}

.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 5px;

}

.price p{
    font-size: 22px;
    font-weight: 500;
}

.price a{
    text-decoration: none;
    background: #333;
    color: white;
    font-size: 14px;
    padding: 12px 25px;
    border-radius: 6px;
}

.price a:hover{
    background: rgb(100, 99, 99);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}